<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='icon' href='/static/images/logo.jpg' type='image/x-ico' /> 
	<link href="/static/css/common.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	{% block head %}{% endblock %}
	<title>{% block title %}默认标题{% endblock %}</title>
</head>
<body>
 
 
{% block content %}
	<div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
{% endblock %}
 
{% include 'part/footer.html' %}
  
</body>
</html>