<div id="header">
  <div class='top'>
    <div class="top_container"> 	
    	<div class="col-md-2 logo">
        <a href="/index"><img src="/static/images/logo.jpg" height="130"></a>
      </div>
      <div class="col-md-10">
      	<p class="chn-title">国家重点研发计划——重要热带病传播相关的入侵媒介及其病原体的生物学特性研究</p>
        <div class="row">
          <div class="col-md-9 eng-title">
            <p><b>National Research and Development Plan: Research on Biological Characteristics of the Tropical Disease Related Invasion vectors and Pathogens</b></p><p>
            </p>
          </div>
          <div class="col-md-3 search-box">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="  search-query form-control" placeholder="搜索">
                <span class=" glyphicon glyphicon-search"></span>
              </div>
            </div>
          </div>
          <div class='top_right'>
            <div class='top_right_container'></div>                
                {% if user.type.permission.type == 'SU' %}
                  <div class='username'>{{user.username}}<a href='/logout/' class='logoff_right'>退出</a></div>
                {% elif user.type.permission.type == 'Lab' %}
                  <div class='username'>{{user.username}}</div>
                  <div class='top_drop'>
                    <!-- <a href="/">发表文章</a>
                    <a href="/">修改项目进展</a> -->
                    <a href="/logout/">退出</a>
                  </div>
                {% elif user.type.permission.type == 'Ma' %}
                  <div class='username'>{{user.username}}</div>
                  <div class='top_drop'>
                    <a href="/addNews">发布新闻</a>
                    <a href="/">发布公告</a>
                    <a href="/manage/">管理文章</a>
                    <a href="/logout/">退出</a>
                  </div>
                {% elif user.type.permission.type == 'Co' %}
                  <div class='username'>{{user.username}}</div>
                  <div class='top_drop'>
                    <a href="/logout/">退出</a>
                  </div>
                {% else %}
                  <a href="/login" class='header_op_li'>登录</a>
                  <a href="/register" class='header_op_li'>注册</a>
                {% endif %}
              
            </div>
          </div>
        </div>
      </div>
      <div style='clear: both'></div>
    </div>
  <div class="nav">
    <div class="blog-masthead">
      <div class="row">
        <nav class="blog-nav">
          <a class="blog-nav-item  {% if header == "header" %}active{% endif %}" href="/index">首页</a>
          <a class="blog-nav-item  {% if header == "about" %}active{% endif %}" href="/about">关于项目</a>
          <a class="blog-nav-item  {% if header == "team" %}active{% endif %}" href="/team">研究团队</a>
          <a class="blog-nav-item  {% if header == "progress" %}active{% endif %}" href="/progress">项目进展</a>
          <a class="blog-nav-item  {% if header == "publishedArticles" %}active{% endif %}" href="/publishedArticles">发表文章</a>
          <a class="blog-nav-item  {% if header == "conference" %}active{% endif %}" href="/conference">学术交流</a>
          <a class="blog-nav-item  {% if header == "tools" %}active{% endif %}" href="/dataTool">数据/工具</a>
          <a class="blog-nav-item  {% if header == "ananlysis" %}active{% endif %}" href="#">数据分析</a>
        </nav>
	    </div>
    </div>
  </div>   

</div>
<script>
  $('#header .top_right').mouseover(function(){
    $('#header .top_right .top_drop').slideDown();
  });
  $('#header .top_right').mouseleave(function(){
    $('#header .top_right .top_drop').slideUp();
  })
</script>