{% extends 'part/base.html' %}

{% block head %}
  <link href="/static/css/conference.css" rel="stylesheet">
  <script type="text/javascript" src='/static/js/conference.js'></script>
{% endblock %}

 
{% block title %}学术交流{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
    	<div id='container_left'>

            {% for term in result %}
            <div class='left_nav nav1'>
                <div class='nav_head'>
                    <div class='icon'></div>
                    <div class='nav_head_title'>{{term.year}}</div>
                </div>
                <div class='nav_body'>
                    {% for conference in term.conferences %}
                    <a href="/conference/{{conference.id}}"  {% if currentCon.id == conference.id %}class='active'{% endif %}>{{conference.name}}</a>
                    {% endfor %}                   
                </div>
            </div>
            {% endfor %}

    		<!-- <div class='left_nav nav1'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>2016</div>
    			</div>
    			<div class='nav_body'>
                    <a href="" class='active'>中山医学院召开2016年国家重点研发计划项目启动会</a>
    				<a href="xx">会议1</a>
    				<a href="">会议2</a>
    			</div>
    		</div>
    		<div class='left_nav nav2'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>2015</div>
    			</div>
    			<div class='nav_body'>
    				<a href="xx">会议1</a>
    				<a href="">会议2</a>
    			</div>
    		</div>
    		<div class='left_nav nav3'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>2014</div>
    			</div>
    			<div class='nav_body'>
    				<a href="xx">会议1</a>
    				<a href="">会议2</a>
    				<a href="">会议3</a>
    			</div>
    		</div> -->
    	</div>
        <div id='container_right'>
            <div class='article'>
                <!-- <h3 class='article_title'>中山医学院召开2016年国家重点研发计划项目启动会</h3> -->
                <h3 class='article_title'>{{currentCon.name}}</h3>
                <div class='article_info'>
                    <!-- <span>文章来源：中山医学院</span>
                    <span>发布人：田聪</span>
                    <span>点击数：931</span>
                    <span>日期：2016年8月16日</span> -->
                </div>
                <div class='article_content'>
                    {{currentCon.detail|safe}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}