{% extends 'part/base.html' %}

{% block head %}
  <link href="../static/css/conference.css" rel="stylesheet">
  <script type="text/javascript" src='../static/js/conference.js'></script>
{% endblock %}

 
{% block title %}学术交流{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
    	<div id='container_left'>
    		<div class='left_nav nav1'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>2016</div>
    			</div>
    			<div class='nav_body'>
                    <a href="" class='active'>中山医学院召开2016年国家重点研发计划项目启动会</a>
    				<a href="xx">会议1</a>
    				<a href="">会议2</a>
    			</div>
    		</div>
    		<div class='left_nav nav2'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>2015</div>
    			</div>
    			<div class='nav_body'>
    				<a href="xx">会议1</a>
    				<a href="">会议2</a>
    			</div>
    		</div>
    		<div class='left_nav nav3'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>2014</div>
    			</div>
    			<div class='nav_body'>
    				<a href="xx">会议1</a>
    				<a href="">会议2</a>
    				<a href="">会议3</a>
    			</div>
    		</div>
    	</div>
        <div id='container_right'>
            <div class='article'>
                <h3 class='article_title'>中山医学院召开2016年国家重点研发计划项目启动会</h3>
                <div class='article_info'>
                    <span>文章来源：中山医学院</span>
                    <span>发布人：田聪</span>
                    <span>点击数：931</span>
                    <span>日期：2016年8月16日</span>
                </div>
                <div class='article_content'>
                    <p>2016年8月13-14日，由我院吴忠道教授牵头主持的2016年国家重点研发计划项目启动会在我校学人馆顺利召开。中山大学副校长颜光美教授、中山大学科学研究院副院长陶亮教授、范瑞泉副处长出席了开幕式，颜光美副校长在开幕式上致欢迎词。中国科学院院士赵国屏教授、“973”项目首席余新炳教授等9位专家应邀出席会议进行指导。项目组成员共60余人出席了会议。</p>
                    <p>本项目属科技部2016年启动第四批重点研发项目中的生物安全关键技术研发重点专项，题目是“重要热带病传播相关的入侵媒介生物及其病原体的生物学特性研究”（编号 2016YFC1200500），下设4个课题，分别由中山大学、中国CDC寄生虫病预防控制所、复旦大学和南方医科大学负责，项目经费1277万元，项目实施时间为2年半。项目负责人、课题负责人及任务负责人就项目任务、项目管理、课题任务和任务包的实施等作了报告。出席会议的专家对每项研究计划进行了指导和点评。与会项目成员结合专家的意见和建议，就如何实施研究方案和实现任务目标进行了认真的讨论，进一步明确了项目的目标和任务，增强了完成项目的信心。本次会议的顺利召开，标志本项目的正式启动。</p>
                    <p>此外，我院吕志跃教授作为课题负责人参与申报的另一项国家重点研发计划项目“重要热带病相关入侵媒介生物及其病原的动态分布与资源库建设”亦同时获批立项，并于8月9日在上海召开了项目启动会。</p>
                    <img src="http://zssom.sysu.edu.cn/uploads/webwxgetmsgimg(1).jpg">
                    <br><br><br><strong>项目简介：</strong>
                    <p>医学媒介生物及其相关病原体的入侵可引起如登革热、寨卡病毒病、疟疾、锥虫病、血吸虫病、广州管圆线虫病等重要热带病的流行、疫情暴发与扩散，甚至成为重大公共卫生安全事件，会对人类健康和社会稳定构成极大威胁。</p>
                    <p>“重要热带病传播相关的入侵媒介生物及其病原体的生物学特性研究”(编号2016YFC1200500)以我国重要医学媒介生物及其相关病原体-入侵螺类（福寿螺和褐云玛瑙螺、藁杆双脐螺）、入侵伊蚊（埃及伊蚊和白纹伊蚊）、输入性病原体（疟原虫、锥虫和血吸虫）等为研究对象，开展热带病传播相关的入侵媒介及相关病原体的生物学特性研究，主要研究内容包括：入侵媒介及相关病原的入侵致害相关生物学特性研究、入侵媒介的生态适应性及进化研究、入侵媒介及相关病原的种质遗传学特征和生态适应性分子基础、入侵媒介和病原体/病原体与宿主(媒介)相互作用的分子机制研究。</p>
                    <p>该项目的顺利完成, 预期将丰富我国重要热带病入侵媒介螺类(福寿螺、褐云玛瑙螺、双脐螺)和伊蚊(埃及伊蚊和白纹伊蚊)入侵、扩散和传病相关的生物学特性, 深化或进一步明确其传播疾病的潜能，获得一批创新性研究成果(包括高水平论文、专著、专利等), 从而为建立媒介生物及其病原体入侵、扩散和传播的快速侦查、风险评估及预警处置体系提供科学依据和技术支撑，进一步提升我国入侵媒介生物领域的研究水平，为有效防控媒介生物侵入对我国人类健康及公共卫生安全的威胁提供技术支撑。随着项目的开展，也将可能筛选到一批有关入侵媒介生物及输入性病原体具有识别意义的分子标志, 或具有防控价值的靶标, 为进一步的开发或转化研究奠定基础。同时，通过项目的实施，也将培养一批青年学术骨干和研究生，形成具有一定国际影响力的研究团队，为我国深入开展入侵生物的防制与相关研究储备人才，进一步提升项目参与单位学科建设水平，完善与侵入生物研究相关技术体系，对保障国家生物安全具有重要的战略意义。
</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}