{% extends 'part/base.html' %}

{% block head %}
  <link href="../static/css/dataTool.css" rel="stylesheet">
  <script type="text/javascript" src='../static/js/dataTool.js'></script>
{% endblock %}

 
{% block title %}关于项目{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
    	<div id='container_left'>
    		<div class='left_nav nav1'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>团队数据共享</div>
    			</div>
    		</div>
    		<div class='left_nav nav2'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>站外数据库</div>
    			</div>
    		</div>
    		<div class='left_nav nav3'>
    			<div class='nav_head'>
    				<div class='icon'></div>
    				<div class='nav_head_title'>常用分析工具</div>
    			</div>
    		</div>
    	</div>
    	<div id='container_right'>
            <div class='container_right'>
                <div class='part_title'>团队数据共享</div>
                <ol>
                    <li>Link1:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link2:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link3:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link4:http://www.xx.com/asdffsadffsdf</li>
                </ol>
            </div>
            <div class='container_right'>
                <div class='part_title'>站外数据库</div>
                <ol>
                    <li>Link1:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link2:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link3:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link4:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link5:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link6:http://www.xx.com/asdffsadffsdf</li>
                </ol>
            </div>
            <div class='container_right'>
                <div class='part_title'>常用分析工具</div>
                <ol>
                    <li>Link1:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link2:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link3:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link4:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link5:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link6:http:/www.xx.com/asdffsadffsdf</li>
                    <li>Link7:http://www.xx.com/asdffsadffsdf</li>
                    <li>Link8:http://www.xx.com/asdffsadffsdf</li>
                </ol>
            </div>
    	</div>
    </div>
{% endblock %}