{% extends 'part/base.html' %}

{% block head %}
  <link href="/static/css/detail.css" rel="stylesheet">
  <!-- <script type="text/javascript" src='../static/js/about.js'></script> -->
{% endblock %}

 
{% block title %}{{announcement.title}}{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
    	<div class='head'>
    		<h2>{{announcement.title}}</h2>
    		<div class='infos'>
    			<span>作者：{{announcement.editor.username}}</span>
    			<span>发表时间：{{announcement.submittime|date:"Y-m-d"}}</span>
    		</div>
    	</div>
    	<div class='content'>
    		{{announcement.content|safe}}
    	</div>
    </div>
{% endblock %}