{% extends 'part/base.html' %}

{% block head %}
  <link href="../static/css/login.css" rel="stylesheet">
  <script type="text/javascript" src='../static/js/login.js'></script>
{% endblock %}

 
{% block title %}登录{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
      <div class='content'>
        <div class='person' ></div>
        <div class='inputs'>
          <div class='inputli'>
            <div class='input_desc'>账号</div>
            <input type='email' class='input_val' placeholder='一般为邮箱' name='name'>
          </div>
          <div class='inputli'>
            <div class='input_desc'>密码</div>
            <input type='password' class='input_val' name='password'>
          </div>
        </div>
        <div class='btns'>
          <div class='btn back'>上一页</div>
          <div class='btn confirm'>登录</div>
        </div>
      </div>
    </div>

{% endblock %}
