{% extends 'part/base.html' %}

{% block head %}
  <link href="/static/css/manage.css" rel="stylesheet">
  <script src="/static/js/manage.js"></script>
{% endblock %}

 
{% block title %}数据工具{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
        <div class='listType'>新闻动态</div>
        <div class='list'>
            {% for term in news%}
                <div class='li'>
                    <div class='title'>
                        <a href="/{{term.type}}/{{term.id}}/">{{term.title}}</a>
                        <span class='author'>陈纪云</span>
                        <span class='time'>2016 11 30 9:49</span>
                    </div>
                    <div class='btn'>删除</div>
                </div>
                {% endfor %}      
        </div>
        <div class='listType'>通知公告</div>
        <div class='list'>
                {% for term in notice%}
                <div class='li'>
                    <div class='title'>
                        <a href="/{{term.type}}/{{term.id}}/">{{term.title}}</a>
                        <span class='author'>陈纪云</span>
                        <span class='time'>2016 11 30 9:49</span>
                    </div>
                    <div class='btn'>删除</div>
                </div>
            {% endfor %}    
        </div>
    </div>
{% endblock %}