{% extends 'part/base.html' %}

{% block head %}
  <link href="../static/css/publishedArticles.css" rel="stylesheet">
  <script type="text/javascript" src='../static/js/team.js'></script>
{% endblock %}

 
{% block title %}发表文章{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
    	<table>
    		<tbody>
    			<tr>
    				<td class='short'><span class='circle'></span>2011年</td>
    				<td class='long'>
    					<ol>
    						<li>Yang Yi, Jiansheng Wu, Wei Xu. Incremental SVM based on reserved set for network intrusion detection, Expert Systems With Application, 2011,38(16):7698-7707 (SCI)</li>
    						<li>Qian Tao, Huiyou Chang, Yang YI, Chun-qin Gu, Wen-jie Li. A Rotary chaotic PSO algorithm for trustworthy scheduling of a grid workflow, Computers & Operations Research, 2011, 38(5):824-836 SCI 核心(索引号:688AK)；EI核心（索引号：20104513371801）</li>
    					</ol>
    					
    				</td>
    			</tr>
    			<tr>
    				<td class='short'><span class='circle'></span>2010年</td>
    				<td class='long'>
    					<ol>
    						<li> Xiaoxing Li, Yang Yi, Activity recognition based on event probability sequence and key point detecting, 2010 International Conference on Graphic and Image Processing, Manila, Philippines, 2010, 154-157. EI核心</li>
    						<li>Gan Rongwei,Guo Qingshun, Chang Huiyou, Yi Yang*. Improved Ant Colony Optimization Algorithm for the Traveling Salesman Problems. Journal of Systems Engineering and Electronics, 2010, 21(2): 329-333 （SCI）</li>
    						<li>许昌，常会友，徐俊，衣杨. 一种新的ASON保护容量优化算法, 小型微型计算机系统，2010，31(08): 1587-1589</li>
    						<li>甘荣伟，郭清顺，常会友，衣杨. 具有路径平滑和信息动态更新的蚁群算法, 计算机科学，2010，37(01): 233-235</li>
    						<li>许昌，常会友，徐俊，衣杨. 一种新的融合分布估计的蚁群优化算法,计算机科学， 2010，37(02): 186-188, 211</li>
    						<li>朱旭东，常会友，衣杨，张健. 基于调度窗口的弱硬实时系统改进DBP调度算法研究. 安徽大学学报(自然科学版)，2010，34(04): 70-75</li>
    					</ol>
    				</td>
    			</tr>
    			<tr>
    				<td class='short'><span class='circle'></span>2009年</td>
    				<td class='long'>
    					<ol>
    						<li> Yang Yi, Jieling Lai. Computational model and improved ACO algorithm for P//T, Journal of Systems Engineering and Electronics, 2009, 20(6): 1336-1344. SCI 核心 (索引号：538KL)；INSPEC核心(索引号:11457566)；EI核心（索引号：20104113281832）</li>
    						<li>Xu Jun, Chang Huiyou, Xu Chang, Yi Yang. Novel shared-path protection algorithm and reliability analysis model based on Bayesian network for multilink failures. Optical Engineering, 2009, 48(12):53-60 .SCI 核心 (索引号：538VB )；INSPEC核心(索引号:11071197)</li>
    						<li>Gu Chun-qin, Yi Yang, Chang Hui-you, Rong Fu-li, Wang Zhen. Research on Verification of Time Constraint Workflow Model Schedulability, Journal of System Simulation, 2009, 21(7), 2112-2117. INSPEC核心(索引号: 10987569)</li>
    						<li>衣杨, 李文军, 杨风. 软件工程实验软件装置的研究与应用, 实验室研究与发展, 2009, 8: 32-38. INSPEC核心(索引号: 11313132)</li>
    						<li>顾春琴, 常会友, 陶乾, 衣杨. 可解决多种复杂任务的过程挖掘算法, 计算机集成制造系统, 2009, 11: 16-23</li>
    						<li>甘荣伟, 郭清顺, 常会友, 衣杨. 获胜者确定问题的启发规则与改进蚁群算法, 小型微型计算机系统, 2009, 8: 36-42</li>
    					</ol>
    				</td>
    			</tr>
    			<tr>
    				<td class='short'><span class='circle'></span>2008年</td>
    				<td class='long'>
    					<ol>
    						<li>Yang Yi, Qiang li. New approaches to enhance the computation efficiency on Particle Swarm Optimization algorithm, International Journal of Computer Sciences and Engineering Systems, 2008, 2(2): 155-162</li>
    						<li>Yang Yi, Xiaoxing Li, ChunQin Gu. Hybrid particle swarm optimization for multiobjective resource allocation, Journal of Systems Engineering and Electronics, 2008, 19(9): 959-964. SCI 核心 (索引号：369XD)；INSPEC核心(索引号: 10590662)</li>
    						<li>Chunqin Gu, Huiyou Chang, Yang Yi. Workflow Mining: Extending the α-algorithm to Mine the Duplicate tasks, 7th International Conference on Machine Learning and Cybernetics, 2008, 361-368. (SCI )</li>
    						<li>Heqing Huang, Yang Yi, Jiyue Wang. Time Window Constraint Resource Allocation by Artificial Life Methods, 12th World Multi-Conference on Systems, Cybernetics and Informatics: (WMSCI 2008), Orlando, Florida, USA, 2008</li>
    					</ol>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
{% endblock %}