{% extends 'part/base.html' %}

{% block head %}
  <link href="../static/css/login.css" rel="stylesheet">
  <script type="text/javascript" src='/static/js/register.js'></script>
{% endblock %}

 
{% block title %}注册{% endblock %}

{% block content %}
    {%  include 'part/header.html' %}
    <div id='container'>
      <div class='content'>
        <img class='logo' src="">
        <div class='inputs'>
          <div class='inputli'>
            <div class='input_desc long'>注册邮箱</div>
            <input type='email' class='input_val' name='username'>
          </div>
          <div class='inputli'>
            <div class='input_desc long'>密码</div>
            <input type='password' class='input_val' name='password1'>
          </div>
          <div class='inputli'>
            <div class='input_desc long'>密码</div>
            <input type='password' class='input_val' name = 'password2'>
          </div>
          <div class='inputli'>
            <div class='input_desc long'>用户类型</div>
            <select name='usertype' class='input_val'>
              <option value="Co">普通用户</option>
              <option value="lab">实验室用户</option>
            </select>
          </div>
        </div>
        <div class='btns'>
          <div class='btn back'>上一页</div>
          <div class='btn confirm'>注册</div>
        </div>
      </div>
    </div>

{% endblock %}
