#container{
	width:1170px;
	margin:30px auto;
    text-align: center;
}
#container_left{
    width: 200px;
    display: inline-block;
    border: solid 1px #218868;
    border-top: none;
    line-height: 35px;
    padding-bottom: 30px;
}
#container_right{
    width:880px;
    display:inline-block;
    border: solid 1px #218868;
    vertical-align: top;
    padding:10px 20px 40px 20px;
    margin-left: 30px;
    height: auto;
}
/*#container_right{
	width:880px;
	display:inline-block;
	border: solid 1px #218868;
	vertical-align: top;
	padding:10px 20px 40px 20px;
	margin-left: 30px;
    height: 405px;
    overflow-y: auto;
}
#container_right::-webkit-scrollbar{width:5px;}
#container_right::-webkit-scrollbar-track{background-color:#6fbf73;}
#container_right::-webkit-scrollbar-thumb{background-color:#005825;}
#container_right::-webkit-scrollbar-thumb:hover {background-color:#054719}
#container_right::-webkit-scrollbar-thumb:active {background-color:#054719}*/
#container_left .left_nav {
    border-top: solid 1px #218868;
    position:relative;
}
#container_left .left_nav .icon {
	position:absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 24px;
}
#container_left .nav_body a {
    display: block;
    padding: 0 50px;
}
#container_left .nav_body a.active,#container_left .nav_body a:hover{
    background: #dee7d6;
    color: #006600;
}
#container_left .nav_head_title {
    color: white;
    font-weight: bold;
    padding: 0 50px;
    background: #054719;
}
.part{
	border-bottom: solid 1px #218868;
	text-align: left;
    line-height: 30px;
}
.part:last-child{
	border:none;
}
.part_content p{
	text-indent: 2em;
}
.part_title {
    font-size: 20px;
    margin-top: 30px;
    color: darkgreen;
    margin-bottom: 15px;
}

