
.container>.row{
  width: 1090px;
  margin: auto;
  padding: 0 40px;
}
.col-sm-7 {
  width: 57.33333333%;
  float: left;
  margin-bottom: 30px;
}
.sidebar {
  padding-top: 30px;
  padding-left: 40px;
  width: 38.66666667%;
  float: left;
}
/*--------------------------project-introduction STARTS--------------------------*/
.project-introduction-title {
  padding-left: 10px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  font-size: 20px;
  /*padding-bottom: 5px;*/
}

.project-introduction-paragraph {
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: 15px;
  text-indent: 2em;
  line-height: 25px;
  margin:5px;
}
/*--------------------------project-introduction EDNS--------------------------*/

/*--------------------------panel STARTS--------------------------*/
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-title {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  margin:0;
}
.panel-success {
  border-color: #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}
.panel-danger {
  border-color: #ebccd1;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-body {
  font-size: 20px;
  padding-bottom: 5px;
  background-color: #F8F8FF;
  padding: 15px;
}
/*--------------------------panel ENDS--------------------------*/


/*--------------------------news&notification STARTS--------------------------*/

.news-ul, .notification-ul {
    padding: 0px 0px;
}

.news-ul li, .notification-ul li {
  line-height: 25px;
  font-size: 15px;
}

.news-title, .notification-title  {
  width:80%;
  overflow:hidden;
  text-overflow: ellipsis;
}

.news-ul, .notification-ul {
  list-style-type: none;
}

.news-ul a {
  color: #005825;
}

.notification-ul a {
    color: #005825;
}

.news-ul span, .notification-ul span {
  float:right;  
}

.more-news, .more-notifications {
  float: right;
  padding: 17px 15px 10px 15px;
}

.more-news a {
  font-size: 14px;
  font-weight: bold;
  color: #3C763D;
}

.more-notifications a {
  font-size: 14px;
  font-weight: bold;
  color: #A94442;
}

/*--------------------------news&notification ENDS--------------------------*/


.page-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: Microsoft YaHei;
}
.col-sm-3{
  width:120px;
  display: inline-block;
  margin:0 -10px;
}
