#container{
	width:1170px;
	margin:30px auto;
    text-align: center;
}
#container_left{
    min-height: 400px; 
    width: 200px;
    display: inline-block;
    border: solid 1px #218868;
    border-top: none;
    line-height: 35px;
    padding-bottom: 30px;
}
#container_right{
	height:auto;
	width:880px;
	display:inline-block;
	border: solid 1px #218868;
	vertical-align: top;
	padding:10px 20px 40px 20px;
	margin-left: 30px;
    text-align: left;
    min-height: 550px;
}
#container_left .left_nav {
    border-top: solid 1px #218868;
    position:relative;
}
#container_left .left_nav .icon {
	position:absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 24px;
}
#container_left .nav_body a {
    display: block;
    padding: 0 50px;
}
#container_left .nav_body a.active,#container_left .nav_body a:hover{
    background: #dee7d6;
    color: #006600;
}
#container_left .nav_head_title {
    color: white;
    font-weight: bold;
    padding: 0 50px;
    background: #054719;
}
.part{
	border-bottom: solid 1px #218868;
}
.part:last-child{
	border:none;
}
.part_content p{
	text-indent: 2em;
}
.part_title {
    font-size: 20px;
    margin-top: 30px;
    color: darkgreen;
}
.slider{
    width:100%;
    border:solid 5px rgba(0,128,0,0.1);
    position:relative;
    margin-top: 30px;
    margin-bottom: 15px;
}
.slider>div{
    position:absolute;
    width:0;
    top: -5px;
    left: -5px;
    border:solid 5px green;
    transition:width 2s ease;
}