#container{
	width:1170px;
	margin:30px auto;
    text-align: center;
}
#container_left{
    height: 600px;
    width: 200px;
    display: inline-block;
    border: solid 1px #218868;
    border-top: none;
    line-height: 35px;
}
#container_right{
	height:auto;
	width:880px;
	display:inline-block;
	border: solid 1px #218868;
	vertical-align: top;
	padding:10px 20px 40px 20px;
	margin-left: 30px;
    text-align: left
}
#container_left .left_nav {
    border-top: solid 1px #218868;
    position:relative;
}
#container_left .left_nav .icon {
	position:absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 24px;
}
#container_left .nav_body a {
    display: block;
    padding: 0 50px;
}
#container_left .nav_body a.active{
	background: #218868;
    color: white;
}
#container_left .nav_head_title {
    color: #054719;
    font-weight: bold;
    padding: 0 50px;
}
.part{
	border-bottom: solid 1px #218868;
}
.part:last-child{
	border:none;
}
.part_content p{
	text-indent: 2em;
}
.part_title {
    font-size: 20px;
    margin-top: 30px;
    color: darkgreen;
}




.nav1 .icon{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAFBSURBVCjPddA/SNRxGMfx1/1+gnJlioVKJym2t6UO0hQGR5PgEi1BixG1BO2Js7Q0CEfgIicSoouTIBkVUeCd0R/stOgPWpL/U7z8NvwOp3ye6fO83/CBJ+X/Uy/ruRZNx3BXbBv00s/oGGFLwTtr+uOjUyR2eJTWBZ98M1oF2vTqklYy6al91GvV7Yko6SsqGZPzzKohdWI5QfBVN50+yjsP0m74bkCjoiAou8WEF5q0eeChyyJ3fXbVoiAo6WDTPbG8N6Z80afFe4/9EvxxjUjashrtZt00rl/Zmqw67HpLZE/GjpysHjOatWrQqAobfsO0WadFzjnptlfu2xcEwZRquGTRsLO4YF7BcgXvuZ787KJhBwpGfBD8reADj5xIhAFzfth1WNmyDa/dcSrBKbEGGc3OqFUjZcuSBStCIvwDfxNvKAtL3U4AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTUtMDctMjVUMjE6NDk6MzArMDg6MDDupAT5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA2LTA5VDExOjE2OjI5KzA4OjAwiSKMiwAAAE50RVh0c29mdHdhcmUASW1hZ2VNYWdpY2sgNi44LjgtMTAgUTE2IHg4Nl82NCAyMDE1LTA3LTE5IGh0dHA6Ly93d3cuaW1hZ2VtYWdpY2sub3JnBQycNQAAABh0RVh0VGh1bWI6OkRvY3VtZW50OjpQYWdlcwAxp/+7LwAAABh0RVh0VGh1bWI6OkltYWdlOjpIZWlnaHQANTEyj41TgQAAABd0RVh0VGh1bWI6OkltYWdlOjpXaWR0aAA1MTIcfAPcAAAAGXRFWHRUaHVtYjo6TWltZXR5cGUAaW1hZ2UvcG5nP7JWTgAAABd0RVh0VGh1bWI6Ok1UaW1lADE0MDIyODM3ODlgISfBAAAAE3RFWHRUaHVtYjo6U2l6ZQAxNC4yS0JCo/VAJAAAAFp0RVh0VGh1bWI6OlVSSQBmaWxlOi8vL2hvbWUvd3d3cm9vdC93d3cuZWFzeWljb24ubmV0L2Nkbi1pbWcuZWFzeWljb24uY24vc3JjLzExNjgzLzExNjgzODMucG5n14ZeNgAAAABJRU5ErkJggg==') no-repeat;
}
.nav2 .icon{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAFGSURBVCjPXdCxS1RxAMDxz70X18njKgQ1GqyGM4ODN4kN0SAOt7QVKC1ttzXpGCRu/gPin6AGhUMENkggaIRDuFzB4QXRoLzu8kl0p/4a0iC/45fv9I1x3Qv3fNXGDWWHuO2Zhz7JgUTNghTTniC1oCaBgnPqfntpXcGkRy5b+qvjf8GYEffVDEoMavvoAiUTtgTBlgmlc11AomLcA+OuuIa2n7a9t+2LI2ZtyJwKmhZ1dCxqCk5lNszGnqoIjr31TtVdRZk3Dgw4FPtVELsqUddwU9FzzOtquWPJkU7kRCYXDNnUAz2bhgS5zEmEfnVNRS17gmBPS1FTXT+RqhkNy0pyO/bt25ErWdYwo3rJlNc+SAUdP6zgs0hQ8co3UyToM2cMlJXPvs7pQxLr4bFja6CrC74bdcuuXoRhqVXhv/HBqtQwfwCoLmx+KnMOJAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNS0wNy0yNVQyMTo0OTozMCswODowMO6kBPkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTQtMDYtMDlUMTE6MTY6MjIrMDg6MDCLJdhxAAAATnRFWHRzb2Z0d2FyZQBJbWFnZU1hZ2ljayA2LjguOC0xMCBRMTYgeDg2XzY0IDIwMTUtMDctMTkgaHR0cDovL3d3dy5pbWFnZW1hZ2ljay5vcmcFDJw1AAAAGHRFWHRUaHVtYjo6RG9jdW1lbnQ6OlBhZ2VzADGn/7svAAAAGHRFWHRUaHVtYjo6SW1hZ2U6OkhlaWdodAA1MTKPjVOBAAAAF3RFWHRUaHVtYjo6SW1hZ2U6OldpZHRoADUxMhx8A9wAAAAZdEVYdFRodW1iOjpNaW1ldHlwZQBpbWFnZS9wbmc/slZOAAAAF3RFWHRUaHVtYjo6TVRpbWUAMTQwMjI4Mzc4Mvfz/kkAAAATdEVYdFRodW1iOjpTaXplADE3LjhLQkJK3NLuAAAAWnRFWHRUaHVtYjo6VVJJAGZpbGU6Ly8vaG9tZS93d3dyb290L3d3dy5lYXN5aWNvbi5uZXQvY2RuLWltZy5lYXN5aWNvbi5jbi9zcmMvMTE2ODMvMTE2ODM3MC5wbmdhcJYzAAAAAElFTkSuQmCC') no-repeat;
}
.nav3 .icon{
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAEdSURBVCjPbdG/SptxGMXxz5uIiTUGalFSQSRESf9AQQqixtLBS/ASBB3cFGoGByfxBnoJ7R0U6tqWilAouugSRaNtEVJREFFjfg5Jh77xPOPz5XCe80DOvBR4pV9MSQx64a3XLs1I2f0f6NBtQNGcPS9VncYdEsa9MYGPVg07iAMdispSmBGM6nMSR8ZUhdZse9oesuRIXkbCX+9sadO5bZ8cCiqGPKCaIGgIqgrt66Qbz2UkRBo2Yld0Gkj647eaPllpeRW/BER6TVuxEJnywRNdEuDYjh/qHpv0TI+vkZRlszpdy7U+0nSALzaaZY1asakuuBUE14J9p5akm2EKvrlz5bufgjOf3Vi3KPfPihElF3qtyXrvkbSymjr3QalP6lP4yj8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTUtMDctMjVUMjE6NDk6MzArMDg6MDDupAT5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA2LTA5VDExOjE2OjEzKzA4OjAwo93UJgAAAE50RVh0c29mdHdhcmUASW1hZ2VNYWdpY2sgNi44LjgtMTAgUTE2IHg4Nl82NCAyMDE1LTA3LTE5IGh0dHA6Ly93d3cuaW1hZ2VtYWdpY2sub3JnBQycNQAAABh0RVh0VGh1bWI6OkRvY3VtZW50OjpQYWdlcwAxp/+7LwAAABh0RVh0VGh1bWI6OkltYWdlOjpIZWlnaHQANTEyj41TgQAAABd0RVh0VGh1bWI6OkltYWdlOjpXaWR0aAA1MTIcfAPcAAAAGXRFWHRUaHVtYjo6TWltZXR5cGUAaW1hZ2UvcG5nP7JWTgAAABd0RVh0VGh1bWI6Ok1UaW1lADE0MDIyODM3NzMHbNIQAAAAE3RFWHRUaHVtYjo6U2l6ZQAxMi45S0JCoq0kOAAAAFp0RVh0VGh1bWI6OlVSSQBmaWxlOi8vL2hvbWUvd3d3cm9vdC93d3cuZWFzeWljb24ubmV0L2Nkbi1pbWcuZWFzeWljb24uY24vc3JjLzExNjgzLzExNjgzNTEucG5nEdgeiAAAAABJRU5ErkJggg==') no-repeat;
}