#container{
	width:1170px;
	margin:30px auto;
    text-align: center;
}
#container_left{
    min-height: 600px;
    width: 200px;
    display: inline-block;
    border: solid 1px #218868;
    border-top: none;
    line-height: 35px;
}
#container_right{
	height:auto;
	width:880px;
	display:inline-block;
	border: solid 1px #218868;
	vertical-align: top;
	padding:10px 20px 40px 20px;
	margin-left: 30px;
}
.container_right{
    display:none;
}
.container_right:first-child{
    display:block;
}
#container_left .left_nav {
    border-top: solid 1px #218868;
    position:relative;
}
#container_left .left_nav .icon {
	position:absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 24px;
}
#container_left .nav_body a {
    display: block;
    padding: 0 50px;
}
#container_left .nav_body a.active{
	background: #218868;
    color: white;
}
#container_left .nav_head_title {
    color: #054719;
    font-weight: bold;
    padding: 0 50px;
}
.part{
	border-bottom: solid 1px #218868;
    text-align: left;
    line-height: 30px;
}
.part:last-child{
	border:none;
}
.part_content p{
	text-indent: 2em;
}
.part_title {
    font-size: 20px;
    margin-top: 30px;
    color: darkgreen;
    margin-bottom: 10px;
}
.part_content ul.articlelist{
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
}
.left_nav .nav_body>div{
    cursor:pointer;
}
.left_nav .nav_li{
    cursor:pointer;
}
.left_nav ul {
    margin-top: 0;
}
.left_nav li {
    list-style: none;
    font-size: 14px;
}




.nav1 .icon{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAPCAQAAAClppzdAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAAHgAAAB4AJ31WmAAAAFJSURBVCjPfdE/SNRxHMbx1+/u0BsFCQRBkaTCqa0ht9ChQZ0cUtuapHBuaG8oCFqiphZdtEkHQYWjocUgSpcTxUAaovwTdwje3aeh+/k7D/N5tuf7/nz48HxpV8EjZae2TMm3P6ZBh1HT+pWNeaVXwTXDvvlh2riifY1sKGfOifDFdSVx7mW37Akn5uQyfMCuEJbc9rMF3zPUHN818G8v9OkBieTCqSGaSY++DD9SBYMqtlvwr/L6QcVhFhe9VRNqHpg4P+fAPbNCqHmjM9tet+K3Q4vKNpUEwkc7Pvvg2LE1zWu7DJtyx6p5f9w36aYOcKZswbIuM0Z88l6JDRXhhSGvfW9pJfW+l254J1St0xBqxjy7BE392IwQGjl1hIai/6vY/NN6ToJCW9/tSttPCp7qVrfj7hV43pbnEr+y6IlTZ5e66mEK/QXf2JUZWosyZAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNS0wNy0yNVQyMTo0OTo0MiswODowMHP+HMkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTQtMDQtMjZUMDg6MjI6NTUrMDg6MDDgtjMPAAAATnRFWHRzb2Z0d2FyZQBJbWFnZU1hZ2ljayA2LjguOC0xMCBRMTYgeDg2XzY0IDIwMTUtMDctMTkgaHR0cDovL3d3dy5pbWFnZW1hZ2ljay5vcmcFDJw1AAAAY3RFWHRzdmc6Y29tbWVudAAgR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAOSYPjAAAAGHRFWHRUaHVtYjo6RG9jdW1lbnQ6OlBhZ2VzADGn/7svAAAAGHRFWHRUaHVtYjo6SW1hZ2U6OkhlaWdodAA2MzkoL1bSAAAAF3RFWHRUaHVtYjo6SW1hZ2U6OldpZHRoADkyON6eQGUAAAAZdEVYdFRodW1iOjpNaW1ldHlwZQBpbWFnZS9wbmc/slZOAAAAF3RFWHRUaHVtYjo6TVRpbWUAMTM5ODQ3MTc3Nc9R4s4AAAATdEVYdFRodW1iOjpTaXplADE2LjlLQkI5PGYuAAAAWnRFWHRUaHVtYjo6VVJJAGZpbGU6Ly8vaG9tZS93d3dyb290L3d3dy5lYXN5aWNvbi5uZXQvY2RuLWltZy5lYXN5aWNvbi5jbi9zcmMvMTE1MjIvMTE1MjI2MS5wbmeHqi74AAAAAElFTkSuQmCC') no-repeat;
    background-size: 100%;
}
.nav2 .icon{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAXCAQAAABDyLxRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAAGQAAABkAA+Wxd0AAAHCSURBVCjPddI9SNVRHMbxj39LTbv5blezVxosiBDSKWiIQIgiCIoiCow0gwJzaWppSyFKqKAhGpoapIgQragGhyhCMqEMrEUFjcws3+9p8Jqm+Z1+Lw+cc57npJolU65gykKy5EqYnmvTHNemy1OnpCdnGao906XVUStJlaJWkx7tctQZ81oQqXfFe8/FnTPkHaW63ZWJDLd9th6bfHFDOla7r1M8sk6hNr8xrk2eOEpkazOBUe3iiiODRlRKRaTSpBH8MK1CClaoNGwo1Yg16pQocFKNmF5vVatSLl9cjWOatULMJV0GJARjah3xXRAk9OnUIGveoyLb3TKpyR69gmDGdWUKLGGtiyp1mJQQtMizDDkeGNbopzc2LydKc9WMKV/12mf330T+IcVZvwTBqBPO6HdaylJZlQFBMOWy/foFffYuFu3wQRAE92RrTNadti0UFWtPLl4oxUavkv0TRfP/6o6EIPioPDnbpSdp8U2ZEGkwIQgGHVhwwiHfBMG4CyK2+CQIxpwXLZBF6o0Lgm4bqDAkmHFNxqJnrdJsRjBgJ4U6BC3y/+NloceCl7OxHfbQ1mWSKfPIwblbxCxPTMQf6dmfFaaaqjgAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTUtMTItMjJUMDA6MjY6NTQrMDg6MDBf1usCAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE1LTEyLTIyVDAwOjI2OjU0KzA4OjAwLotTvgAAAE50RVh0c29mdHdhcmUASW1hZ2VNYWdpY2sgNi44LjgtMTAgUTE2IHg4Nl82NCAyMDE1LTA3LTE5IGh0dHA6Ly93d3cuaW1hZ2VtYWdpY2sub3JnBQycNQAAAGN0RVh0c3ZnOmNvbW1lbnQAIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAg092D3AAAABh0RVh0VGh1bWI6OkRvY3VtZW50OjpQYWdlcwAxp/+7LwAAABh0RVh0VGh1bWI6OkltYWdlOjpIZWlnaHQANDk3NvxHMQAAABd0RVh0VGh1bWI6OkltYWdlOjpXaWR0aAAzOTegQgHpAAAAGXRFWHRUaHVtYjo6TWltZXR5cGUAaW1hZ2UvcG5nP7JWTgAAABd0RVh0VGh1bWI6Ok1UaW1lADE0NTA3MTUyMTRuUJGNAAAAEXRFWHRUaHVtYjo6U2l6ZQAxMUtCQmPVN2AAAABadEVYdFRodW1iOjpVUkkAZmlsZTovLy9ob21lL3d3d3Jvb3Qvd3d3LmVhc3lpY29uLm5ldC9jZG4taW1nLmVhc3lpY29uLmNuL3NyYy8xMTk3Ni8xMTk3NjExLnBuZ8HbajwAAAAASUVORK5CYII=') no-repeat;
    background-size: 100%;
}